In [3]:
import pandas as pd

In [9]:

def cargar_datos(sheet_name):
      return pd.read_excel("Matriz_de_adyacencia_data_team.xlsx", sheet_name=sheet_name, index_col=False)

In [10]:

df = cargar_datos("Matriz de adyacencia")

df.head()

,Unnamed: 0,Unnamed: 1,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49,50
0,NaN,NaN,A,B,C,D,E,F,G,H,...,AN,AÑ,AO,AP,AQ,AR,AS,AT,AW,AX
1,1.0,A,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,B,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,C,0,0,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,4.0,D,0,0,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# iterate through the superior triangle of the matrix
for i in range(0, len(df)):
    for j in range(i+1, len(df)):
        if df.iloc[i, j] == 1:
          print("INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES")
          print(f"({i+1}, {j}),")

INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(1, 6),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(1, 10),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(1, 29),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(1, 31),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(1, 32),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(1, 33),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(1, 34),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(1, 35),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(2, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(2, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(2, 22),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(2, 23),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 4),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 5),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 6),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 7),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 8),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 9),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 10),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 11),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(3, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 5),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 6),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 7),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 8),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 9),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 10),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 11),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(4, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(5, 6),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(5, 7),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(5, 8),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(5, 9),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(5, 10),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(5, 11),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(5, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(5, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(6, 7),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(6, 8),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(6, 9),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(6, 10),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(6, 11),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(6, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(6, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(6, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(7, 8),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(7, 9),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(7, 10),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(7, 11),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(7, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(7, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(7, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(8, 9),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(8, 10),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(8, 11),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(8, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(8, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(8, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(9, 10),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(9, 11),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(9, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(9, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(9, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(10, 11),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(10, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(10, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(10, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(11, 12),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(11, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(11, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(12, 13),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(12, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(13, 14),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(13, 19),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(13, 22),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(13, 23),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(13, 24),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(13, 25),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(13, 26),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(13, 45),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(14, 16),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(14, 22),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(14, 23),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(15, 22),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(15, 23),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(16, 17),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(16, 18),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(16, 19),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(16, 20),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(16, 21),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(16, 22),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(16, 23),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(17, 18),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(17, 19),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(17, 20),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(17, 21),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(17, 22),
INSERT INTO matriz_adyacencia (id, id_adyacente) VALUES
(17, 23),